<footer class="flipper-footer">
  <section class="legal">
    <ul>
      <li>
        <span>&copy; Flipper Engineering, {{ site.time | date: '%Y' }}.</span>
      </li>
      <li>
        <div class="social-link">
          <a href="https://github.com/flipper-io" title="Github"><i aria-label="Github" class="fa fa-github" aria-hidden="true"></i></a></div>
        <div class="social-link">
          <a href="https://www.facebook.com/flipper.io/" title="Facebook"><i aria-label="Facebook" class="fa fa-facebook-official" aria-hidden="true"></i></a></div>
        <div class="social-link">
          <a href="https://twitter.com/flipper_io" title="Twitter"><i aria-label="Twitter" class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </li>
    </ul>
  </section>
</footer>
